$df-listgroup-disabled-bg-color: $df-disabled-bg-color !default;
$df-listgroup-disabled-color: $df-disabled-color !default;
$df-listgroup-disabled-opacity: $df-disabled-opacity !default;
$df-listgroup-disabled-cursor: $df-disabled-cursor !default;
