$df-collapse-disabled-color: $df-btn-disabled-color !default;
$df-collapse-disabled-display: inline-block !default;
$df-collapse-disabled-cursor: $df-checkbox-disabled-cursor !default;
$df-collapse-disabled-text-decoration: none !default;
